# Dependencies
node_modules

# Build outputs
/dist
.next
/build

# VCS
.git
.git/**

# Local environment and configs
.env
.env.*
*.local

# IDE/editor
.vscode
.idea

# Logs and misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
uploads
